<div class="visit-info_container">
    <h2>Visit info</h2>
    <ul>
        <li>
            <input
                class="checkbox"
                type="checkbox"
                id="encounder"
                name="encounder"
                value=""
            />
            <label class="label" for="encounder">Encounder ID</label>
            <input class="input" type="text" placeholder="Encounder ID"/>
        </li>
        <li>
            <input
                class="checkbox"
                type="checkbox"
                id="provider"
                name="provider"
                value=""
            />
            <label class="label" for="provider">EHR Provider ID</label>
            <input class="input" type="text" placeholder="EHR Provider ID" />
        </li>
        <li>
            <input
                class="checkbox"
                type="checkbox"
                id="status"
                name="status"
                value=""
            />
            <label class="label" for="status">Prov Con Status ID</label>
            <input class="input" type="text" placeholder="Prov Con Status ID" />
        </li>
        <li>
            <input
                class="checkbox"
                type="checkbox"
                id="mrn"
                name="mrn"
                value=""
            />
            <label class="label" for="mrn">Patient MRN</label>
            <input class="input" type="text" placeholder="Patient MRN"/>
        </li>
        <li>
            
            <input
                class="checkbox"
                type="checkbox"
                id="chart"
                name="chart"
                value=""
            />
            <label class="label" for="chart">Patient MyChart ID</label>
            <input class="input" type="text" placeholder="Patient MyChart ID" />
        </li>
    </ul>
</div>
